form
  p name:
    input(type='text' value='#{product.name}')
  br
  p price:
    input(type='text' value='#{product.price}')
  br
  p inventory:
    input(type='text' value='#{product.inventory}')
  br