form(method="POST" action="/products" enctype="application/x-www-form-urlencoded")#form1
  input(type="hidden" name="_method" value="POST")
  p name:
    input(type='text' name="name")
  br
  p price:
    input(type='text' name="price")
  br
  p inventory:
    input(type='text' name="inventory")
  br
  button(type="submit" form="form1" value="Submit")#submit Submit