form(method="PUT")#form1
  p title:
    input(type='text' value='#{articles.title}')
  br
  p body:
    input(type='text' value='#{articles.body}')
  br
  p author:
    input(type='text' value='#{articles.author}')
  br
  button(type="submit" form="form1" value="Submit")#submit Submit