form(method="POST" action="/articles" enctype="application/x-www-form-urlencoded")#form1
  input(type="hidden" name="_method" value="POST")
  p title:
    input(type='text' name="title")
  br
  p body:
    input(type='text' name="body")
  br
  p author:
    input(type='text' name="author")
  br
  button(type="submit" form="form1" value="Submit")#submit Submit